/* basic styling */
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Tahoma, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.5;
}

/* navigation bar */
nav {
    --text-color: #ffffff;

    overflow: hidden;
    color: var(--text-color);
    background-color: #000000;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    display: grid;
    align-items: end;
}
@media only screen and (max-width: 1000px) {
    nav {
        grid-template-rows: auto auto;
    }
}
@media only screen and (min-width: 1000px) {
    nav {
        grid-template-columns: auto auto;
    }
}
nav .name {   
    display: block;
    float: left;
    margin: 5px 5px;
    padding: 5px 20px;

    font-family: Georgia, sans-serif;
    font-weight: bold;
    font-size: 36px;
}
nav .links a {
    color: var(--text-color);
    display: block;
    float: right;
    height: 50%;
    margin: 10px 5px 10px 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s;
    border-radius: 8px;
}
nav .links a:hover {
    background-color: #808080;
}
nav .links a.active {
    background-color: #006080;
}

/* body backgrounds */
@media only screen and (max-width: 1000px) {
    body {
        margin: 130px 0px 0px 0px;
    }
    main {
        min-height: calc(100vh - 130px);
    }
}
@media only screen and (min-width: 1000px) {
    body {
        margin: 70px 0px 0px 0px;
    }
    main {
        min-height: calc(100vh - 70px);
    }
}
main {
    background-color: #a9a9a9;
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}
main .center{
    display: grid;
    grid-template-columns: minmax(auto, 1200px);
    justify-content: center;
}

/* content (general)*/
main .center .content {
    --text-color: #e0e0e0;

    color: var(--text-color);
    background-color: #202020;
    margin: 0px 50px 0px 50px;
    padding: 0px 30px 0px 30px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}
main .center .content h1, h2 {
    text-align: center;
}
main .center .content a {
    color: var(--text-color);
    font-weight: bold;
}

/* content (index)*/
main .center .content .banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
main .center .content .verticalcenterblock {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* content (portfolio top)*/
.portfolio .centerizedtext {
    padding: 0px 15% 0px 15%;
}
.portfolio .anchoricons {
    margin: 20px 0px 20px 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 20px;
}
.portfolio .anchorIcon {
    width: 50px;
    padding-top: 20px;
    padding-bottom: 0px;
    transition: padding 0.1s;
}
.portfolio .anchorIcon:hover {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* content (portfolio entries)*/
@media only screen and (max-width: 1000px) {
    .portfolio .offsetanchor {
        position:relative; 
        top:-140px;
    }

    .portfolio .title {
        display: grid;
        grid-template-columns: 64px fit-content(10px);
        column-gap: 20px;
        white-space: pre;
    }
    .portfolio .titleinversed {
        display: grid;
        grid-template-columns: 64px fit-content(10px);
        column-gap: 20px;
        white-space: pre;
    }
    .portfolio .entryicon {
        width: 64px;
    }

    .portfolio .columnlayout {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }
    .portfolio .videowrapper {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* 16:9*/ 
        margin: 20px 0px
    }
    .portfolio .entryvideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        border: none;
        box-shadow: none;
    }
    .portfolio .entryscreenshot {
        width: 100%;
        margin: 20px 0px;
        border-radius: 16px;
    }

}
@media only screen and (min-width: 1000px) {
    .portfolio .offsetanchor {
        position:relative; 
        top:-80px;
    }

    .portfolio .title {
        display: grid;
        grid-template-columns: 64px fit-content(10px);
        column-gap: 20px;
        white-space: pre;
    }
    .portfolio .titleinversed {
        display: grid;
        grid-template-columns: 64px fit-content(10px);
        column-gap: 20px;
        white-space: pre;
        justify-content: end;
    }
    .portfolio .entryicon {
        width: 64px;
    }

    .portfolio .columnlayout {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        column-gap: 50px;
    }
    .portfolio .textcolumn {
        grid-column: span 3;
        order: 0;
    }
    .portfolio .textcolumninversed {
        grid-column: span 3;
        order: 1;
    }
    .portfolio .mediacolumn {
        grid-column: span 2;
        order: 1;
    }
    .portfolio .mediacolumninversed {
        grid-column: span 2;
        order: 0;
    }
    .portfolio .videowrapper {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* 16:9*/ 
        margin: 20px 20px 20px 0px;
    }
    .portfolio .entryvideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        border: none;
        box-shadow: none;
    }
    .portfolio .entryscreenshot {
        width: 100%;
        margin: 20px 20px 20px 0px;
        border-radius: 16px;
    }

    .portfolio .backtotop {
        text-align: left;
    }
    .portfolio .backtotopinversed {
        text-align: right;
    }
}

/* content (portfolio overlay)*/
.portfolio .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 2;
    cursor: pointer;
}
.portfolio .overlaycontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.portfolio .overlayscreenshot {
    display: flex;
    outline-style: solid;
    outline-color:rgb(122, 122, 122);
    background-color: rgba(0,0,0,1);
    border-radius: 16px;
    max-height: 80%;
}
@media only screen and (max-width: 1000px) {
    .portfolio .overlayscreenshot {
        width: 80%
    }
}
@media only screen and (min-width: 1000px) {
    .portfolio .overlayscreenshot {
        max-width: 70%
    }
}

/* content (about) */
main .center .content .photo {
    float: left; 
    margin: 30px; 
    border-radius: 16px;
    width: 30%;
}

/* content (contact) */
main .center .content table {
    margin-left: auto;
    margin-right: auto;
}
main .center .content table td {
    height: 36px;
    padding: 5px 5px 5px 5px;
}
main .center .content table .heightalign {
    height:24px;
    width: auto;
}
main .center .content table .widthalign {
    width:24px;
}

/* footer */
main .bottom {
    overflow: hidden;
    color: #808080;
    background-color: #000000;
    width: 100%;
    padding: 10px 0px 10px 0px;
    text-align: center;
}



