/* variables */
:root {
    --header-background-color: #f4f4f4;
    --sectionheader-background-color: #00a6d3;
    --content-background-color: #f4f4f4;
    --footer-background-color: #252525;

    --body-background-color: #ff0000;

    --sectionheader-text-color: #ffffff;
    --normal-text-color: #252525;
    --link-text-color: #00a6d3;
    --footer-text-color: #808080;

    --navbutton-normal-background-color: #f4f4f4;
    --navbutton-hover-background-color: #77d0e9;
    --navbutton-active-background-color: #00a6d3;
    --navbutton-normal-text-color: #252525;
    --navbutton-hover-text-color: #252525;
    --navbutton-active-text-color: #ffffff;

    --groupbutton-normal-background-color: #00a6d3;
    --groupbutton-hover-background-color: #77d0e9;
    --groupbutton-active-background-color: #ffffff;
    --groupbutton-normal-text-color: #ffffff;
    --groupbutton-hover-text-color: #ffffff;
    --groupbutton-active-text-color: #252525;

    --scrollbar-foreground-color: #00a6d3;
    --scrollbar-background-color: #f4f4f4;

    --icon-shadow-color: rgb(0,0,0,0.5);

    --transparent-color: rgb(0,0,0,0);
    --overlay-color: rgb(0,0,0,0.5);
    --preview-background-color: #000000;
}

/* navigation bar */
nav {
    overflow: hidden;
    color: var(--text-color);
    background-color: var(--header-background-color);

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

    display: grid;
    align-items: end;
}
@media only screen and (max-width: 1000px) {
    nav {
        grid-template-rows: auto auto;
    }
}
@media only screen and (min-width: 1000px) {
    nav {
        grid-template-columns: auto auto;
    }
}
nav .name {   
    display: block;
    float: left;
    padding: 0px 20px;
    font-family: Georgia, sans-serif;
    font-weight: bold;
    font-size: 36px;
}
nav .links {
    padding: 0px 20px;
}
nav .links a {
    background-color: var(--navbutton-normal-background-color);
    color: var(--navbutton-normal-text-color);
    display: block;
    float: right;
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.5s;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--navbutton-active-background-color);
    border-width: 1px;
}
nav .links a:hover {
    background-color: var(--navbutton-hover-background-color);
    color: var(--navbutton-hover-text-color);
}
nav .links a.active {
    background-color: var(--navbutton-active-background-color);
    color: var(--navbutton-active-text-color);
}

/* body backgrounds */
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--header-background-color);
    font-family: Tahoma, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.5;
}   
@media only screen and (max-width: 1000px) {
    body {
        margin: 110px 0px 0px 0px;
    }
}
@media only screen and (min-width: 1000px) {
    body {
        margin: 56px 0px 0px 0px;
    }
}
main {
    background-color: var(--body-background-color);
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}
@media only screen and (max-width: 1000px) {
     main {
        min-height: calc(100vh - 110px - 34px);
    }
}
@media only screen and (min-width: 1000px) {
    main {
        min-height: calc(100vh - 56px -34px);
    }
}
main .center{
    display: grid;
    grid-template-columns: minmax(auto, 1200px);
    justify-content: center;
}

/* content (general)*/
main .content {
    color: var(--text-color);
    background-color: var(--content-background-color);
    margin: 0px 50px 0px 50px;
    overflow-x: hidden;
    overflow-y: visible;
    text-align: justify;
    scrollbar-color: var(--scrollbar-foreground-color) var(--scrollbar-background-color);
    scrollbar-width: auto;
}
@media only screen and (max-width: 1000px) {
    main .content {    
        height: calc(100vh - 110px - 34px);
    }
}
@media only screen and (min-width: 1000px) {
        main .content {    
        height: calc(100vh - 56px - 34px);
    }
}
main .section-header {
    background-color: var(--sectionheader-background-color);
    color: var(--sectionheader-text-color);
    padding: 20px 30px;
}
main .section-body {
    padding: 20px 30px;
}
main .content h1 {
    color: var(--title-color);
    text-align: center;
    margin:0px;
}
main .content h2 {
    color: var(--title-color);
    text-align: center;
    margin:0px;
}
main .content h3 {
    color: var(--title-color);
}
main .content h4 {
    color: var(--title-color);
}
main .content a {
    color: var(--link-color);
    font-weight: bold;
}

/* content (index)*/
.indexpage .banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* content (portfolio top)*/
.portfolio-page .anchor-navbar {
    position: sticky;
    background-color: var(--sectionheader-background-color);
    top: 0px;
    padding: 0px 30px;
    z-index: 2;
}
.portfolio-page .anchor-buttons {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.portfolio-page .anchor-button {
    background-color: var(--groupbutton-normal-background-color);
    color: var(--groupbutton-normal-text-color);
    display: block;
    margin: 5px;
    padding: 2.5px 0px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.5s;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--groupbutton-active-background-color);
    border-width: 1px;
}
.portfolio-page .anchor-button:hover {
    background-color: var(--groupbutton-hover-background-color);
    color: var(--groupbutton-hover-text-color);
}
.portfolio-page .anchor-button.active {
    background-color: var(--groupbutton-active-background-color);
    color: var(--groupbutton-active-text-color);
}
.portfolio-page .anchor-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px 20px;
}
.portfolio-page .anchor-icon {
    width: 50px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 0px;
    transition: margin 0.1s;
    filter: drop-shadow(2px 2px 0px var(--icon-shadow-color));
}
.portfolio-page .anchor-icon:hover {
    margin-top: 0px;
    margin-bottom: 10px;
}

/* content (portfolio entries)*/
.portfolio-page .offset-anchor {
    position:relative; 
    top:calc(0px - 196px - 10px);
}

.portfolio-page .title {
    background-color: var(--sectionheader-background-color);
    color: var(--sectionheader-text-color);
    padding: 10px 30px;
    display: grid;
    grid-template-columns: 64px fit-content(10px);
    column-gap: 20px;
    white-space: pre;
}
@media only screen and (max-width: 1000px) {
    .portfolio-page .title.inverse {
        grid-template-columns: 64px fit-content(10px);
    }
}
@media only screen and (min-width: 1000px) {
    .portfolio-page .title.inverse {
        grid-template-columns: fit-content(10px) 64px;
        justify-content: end;
    }
}
.portfolio-page .entry-icon {
    border-radius: 50%;
    width: 64px;
    filter: drop-shadow(3px 3px 0px var(--icon-shadow-color));
}

.portfolio-page .column-layout {
    display: grid;
    column-gap: 50px;
}
@media only screen and (max-width: 1000px) {
    .portfolio-page .column-layout {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }
}
@media only screen and (min-width: 1000px) {
    .portfolio-page .column-layout {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}
.portfolio-page .medias {
    display: grid;
    grid-gap: 20px;
}
@media only screen and (max-width: 1000px) {
    .portfolio-page .medias {
        grid-template-columns: auto auto;
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }
}
@media only screen and (min-width: 1000px) {
        .portfolio-page .medias {
        grid-template-columns: auto;
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }
}
.portfolio-page .video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9*/ 
}
.portfolio-page .entry-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: none;
    box-shadow: none;
    filter: drop-shadow(3px 3px 0px var(--icon-shadow-color));
}
.portfolio-page .video-blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--transparent-color);
    z-index: 1;
    cursor: pointer;
}
.portfolio-page .entry-screenshot {
    width: 100%;
    border-radius: 16px;
    cursor: pointer;
    filter: drop-shadow(3px 3px 0px var(--icon-shadow-color));
}

@media only screen and (min-width: 1000px) {
    .portfolio-page .entry-icon {
        order: 0;
    }
    .portfolio-page .entry-icon.inverse {
        order: 1;
    }
    .portfolio-page .entry-title {
        order: 1;
    }
    .portfolio-page .entry-title.inverse {
        order: 0;
    }
    .portfolio-page .text-column {
        grid-column: span 3;
        order: 0;
    }
    .portfolio-page .text-column.inverse {
        order: 1;
    }
    .portfolio-page .media-column {
        grid-column: span 2;
        order: 1;
    }
    .portfolio-page .media-column.inverse {
        order: 0;
    }
}

/* content (portfolio overlay)*/
.portfolio-page .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-color);
    z-index: 4;
    cursor: pointer;
}
.portfolio-page .overlay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.portfolio-page .overlay-video {
    display: none;
    background-color: var(--preview-background-color);
    border-radius: 16px;
    height: 80%;
    filter: drop-shadow(5px 5px 0px var(--icon-shadow-color));
}
@media only screen and (max-width: 1000px) {
    .portfolio-page .overlay-video {
        width: 80%;
    }
}
@media only screen and (min-width: 1000px) {
    .portfolio-page .overlay-video {
        width: 70%;
    }
}
.portfolio-page .overlay-screenshot {
    display: none;
    background-color: var(--preview-background-color);
    border-radius: 16px;
    max-height: 80%;
    filter: drop-shadow(5px 5px 0px var(--icon-shadow-color));
}
@media only screen and (max-width: 1000px) {
    .portfolio-page .overlay-screenshot {
        max-width: 80%;
    }
}
@media only screen and (min-width: 1000px) {
    .portfolio-page .overlay-screenshot {
        max-width: 70%;
    }
}

/* content (about) */
.about-page .photo {
    float: left; 
    margin: 30px; 
    border-radius: 16px;
    width: 30%;
}
.about-page .column-layout {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        column-gap: 50px;
}

/* content (contact) */
.contact-page table {
    margin-left: auto;
    margin-right: auto;
}
.contact-page table td {
    height: 36px;
    padding: 5px;
}
.contact-page table img {
    width: 24px;
    vertical-align: text-bottom;
}

/* footer */
footer {
    overflow: hidden;
    color: var(--footer-text-color);
    background-color: var(--footer-background-color);
    width: 100%;
    padding: 5px 0px;
    text-align: center;
}



