/* basic styling */
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    font-family: Tahoma, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.5;
}

/* navigation bar */
nav {
    --text-color: #ffffff;

    overflow: hidden;
    color: var(--text-color);
    background-color: #000000;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

    display: grid;
    align-items: end;
}
@media only screen and (max-width: 1000px) {
    nav {
        grid-template-rows: auto auto;
    }
}
@media only screen and (min-width: 1000px) {
    nav {
        grid-template-columns: auto auto;
    }
}
nav .name {   
    display: block;
    float: left;
    padding: 0px 20px;
    font-family: Georgia, sans-serif;
    font-weight: bold;
    font-size: 36px;
}
nav .links a {
    color: var(--text-color);
    display: block;
    float: right;
    margin: 0px 5px 5px 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s;
    border-radius: 8px;
}
nav .links a:hover {
    background-color: #808080;
}
nav .links a.active {
    background-color: #006080;
}

/* body backgrounds */
@media only screen and (max-width: 1000px) {
    body {
        margin: 103px 0px 0px 0px;
    }
    main {
        min-height: calc(100vh - 103px);
    }
}
@media only screen and (min-width: 1000px) {
    body {
        margin: 54px 0px 0px 0px;
    }
    main {
        min-height: calc(100vh - 54px);
    }
}
main {
    background-color: #a9a9a9;
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}
main .center{
    display: grid;
    grid-template-columns: minmax(auto, 1200px);
    justify-content: center;
}

/* content (general)*/
main .center .content {
    --text-color: #e0e0e0;

    color: var(--text-color);
    background-color: #202020;
    margin: 0px 50px 0px 50px;
    padding: 0px 30px 0px 30px;
    overflow-x: hidden;
    overflow-y: visible;
    text-align: justify;
    scrollbar-color: #006080 #202020;
    scrollbar-width: auto;
}
@media only screen and (max-width: 1000px) {
    main .center .content {    
        height: calc(100vh - 103px - 34px);
    }
}
@media only screen and (min-width: 1000px) {
        main .center .content {    
        height: calc(100vh - 54px - 34px);
    }
}
main .center .content h1, h2 {
    text-align: center;
}
main .center .content a {
    color: var(--text-color);
    font-weight: bold;
}

/* content (index)*/
.indexpage .banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* content (portfolio top)*/
.portfoliopage .centerizedtext {
    padding: 0px 15% 0px 15%;
}
.portfoliopage .grouping {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.portfoliopage .grouping a {
    color: var(--text-color);
    display: block;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s;
    border-radius: 8px;
}
.portfoliopage .grouping a:hover {
    background-color: #808080;
}
.portfoliopage .grouping a.active {
    background-color: #006080;
}
.portfoliopage .anchornavbar {
    position: sticky;
    background-color: #202020;
    top: 0px;
    z-index: 2;
}
.portfoliopage .anchoricons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px 20px;
}
.portfoliopage .anchorIcon {
    width: 50px;
    padding-top: 15px;
    padding-bottom: 0px;
    transition: padding 0.1s;
}
.portfoliopage .anchorIcon:hover {
    padding-top: 0px;
    padding-bottom: 10px;
}

/* content (portfolio entries)*/
@media only screen and (max-width: 1000px) {
    .portfoliopage .offsetanchor {
        position:relative; 
        top:calc(0px - 196px - 10px);
    }

    .portfoliopage .title {
        display: grid;
        grid-template-columns: 64px fit-content(10px);
        column-gap: 20px;
        white-space: pre;
    }
    .portfoliopage .titleinversed {
        display: grid;
        grid-template-columns: 64px fit-content(10px);
        column-gap: 20px;
        white-space: pre;
    }
    .portfoliopage .entryicon {
        width: 64px;
    }
    .portfoliopage .entryiconinversed {
        width: 64px;
    }

    .portfoliopage .columnlayout {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }
    .portfoliopage .medias {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 20px;
    }
    .portfoliopage .videowrapper {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* 16:9*/ 
    }
    .portfoliopage .entryvideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        border: none;
        box-shadow: none;
    }
    .portfoliopage .videoblocker {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgb(0, 0, 0, 0);
        z-index: 1;
        cursor: pointer;
    }
    .portfoliopage .entryscreenshot {
        width: 100%;
        border-radius: 16px;
        cursor: pointer;
    }
}
@media only screen and (min-width: 1000px) {
    .portfoliopage .offsetanchor {
        position:relative; 
        top:calc(0px - 196px - 10px);
    }

    .portfoliopage .title {
        display: grid;
        grid-template-columns: 64px fit-content(10px);
        column-gap: 20px;
        white-space: pre;
    }
    .portfoliopage .titleinversed {
        display: grid;
        grid-template-columns: fit-content(10px) 64px;
        column-gap: 20px;
        white-space: pre;
        justify-content: end;
    }
    .portfoliopage .entryicon {
        width: 64px;
        order: 0;
    }
    .portfoliopage .entryiconinversed {
        width: 64px;
        
        order: 1;
    }
    .portfoliopage .entrytitle {
        order: 1;
    }
    .portfoliopage .entrytitleinversed {
        order: 0;
    }

    .portfoliopage .columnlayout {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        column-gap: 50px;
    }
    .portfoliopage .textcolumn {
        grid-column: span 3;
        order: 0;
    }
    .portfoliopage .textcolumninversed {
        grid-column: span 3;
        order: 1;
    }
    .portfoliopage .mediacolumn {
        grid-column: span 2;
        order: 1;
    }
    .portfoliopage .mediacolumninversed {
        grid-column: span 2;
        order: 0;
    }
    .portfoliopage .medias {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 20px;
    }
    .portfoliopage .videowrapper {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* 16:9*/ 
    }
    .portfoliopage .entryvideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        border: none;
        box-shadow: none;
    }
    .portfoliopage .videoblocker {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgb(0, 0, 0, 0);
        z-index: 1;
        cursor: pointer;
    }
    .portfoliopage .screenshotwrapper {
        position: relative;
        width: 100%;
    }
    .portfoliopage .entryscreenshot {
        width: 100%;
        border-radius: 16px;
        cursor: pointer;
    }
}

/* content (portfolio overlay)*/
.portfoliopage .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 4;
    cursor: pointer;
}
.portfoliopage .overlaycontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.portfoliopage .overlayvideo {
    display: none;
    outline-style: solid;
    outline-color:rgb(122, 122, 122);
    background-color: rgba(0,0,0,1);
    border-radius: 16px;
    height: 80%;
}
.portfoliopage .overlayscreenshot {
    display: none;
    outline-style: solid;
    outline-color:rgb(122, 122, 122);
    background-color: rgba(0,0,0,1);
    border-radius: 16px;
    max-height: 80%;
}
@media only screen and (max-width: 1000px) {
    .portfoliopage .overlayvideo {
        width: 80%;
    }
    .portfoliopage .overlayscreenshot {
        max-width: 80%;
    }
}
@media only screen and (min-width: 1000px) {
    .portfoliopage .overlayvideo {
        width: 70%;
    }
    .portfoliopage .overlayscreenshot {
        max-width: 70%;
    }
}

/* content (about) */
.aboutpage .photo {
    float: left; 
    margin: 30px; 
    border-radius: 16px;
    width: 30%;
}
.aboutpage .columnlayout {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        column-gap: 50px;
    }


/* content (contact) */
.contactpage table {
    margin-left: auto;
    margin-right: auto;
}
.contactpage table td {
    height: 36px;
    padding: 5px 5px 5px 5px;
}
.contactpage table .heightalign {
    height:24px;
    width: auto;
}
.contactpage table .widthalign {
    width:24px;
}

/* footer */
main .bottom {
    overflow: hidden;
    color: #808080;
    background-color: #000000;
    width: 100%;
    padding: 5px 0px 5px 0px;
    text-align: center;
}



